<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="listenerclass.ListenerClass1"></listener>
</listeners>
  <test thread-count="5" name="Test">

<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="TestClasses.checklogifunctionality"/>
      <class name="TestClasses.verifyusercangetlowestprizeproduct"/>
      <class name="TestClasses.verifyusercanopenprofiledeetail"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
